{{ form_start(form, { 'attr' : { 'style': 'font-family: "Antic", sans-serif; font-weight:bold;'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-success m-4">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
